name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install dependencies
        run: npm install
      - name: Install Tauri CLI
        run: npm install -g @tauri-apps/cli
      - name: Build and bundle app
        run: npm run tauri build

      - name: Rename artifacts
        shell: bash
        run: |
          TAG_NAME=${GITHUB_REF##*/}
          VERSION=${TAG_NAME#v}
          APP=Type2Learn
          cd src-tauri/target/release/bundle
          if [[ ${{ matrix.platform }} == 'windows-latest' ]]; then
            for file in windows/*.msi; do
              mv "$file" "../../../../Type2Learn_${VERSION}_Windows_x64.msi"
            done
            for file in windows/*setup.exe; do
              mv "$file" "../../../../Type2Learn_${VERSION}_Windows_x64-setup.exe"
            done
          elif [[ ${{ matrix.platform }} == 'macos-latest' ]]; then
            for file in dmg/*.dmg; do
              mv "$file" "../../../../Type2Learn_${VERSION}_macOS.dmg"
            done
          elif [[ ${{ matrix.platform }} == 'ubuntu-latest' ]]; then
            for file in appimage/*.AppImage; do
              mv "$file" "../../../../Type2Learn_${VERSION}_Linux_x64.AppImage"
            done
            for file in deb/*.deb; do
              mv "$file" "../../../../Type2Learn_${VERSION}_Linux_x64.deb"
            done
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: type2learn-${{ matrix.platform }}
          path: |
            Type2Learn_*

      - name: Generate release notes
        id: generate_release_notes
        run: |
          TAG_NAME=${GITHUB_REF##*/}
          VERSION=${TAG_NAME#v}
          echo "## Full Changelog" > release_body.md
          echo "" >> release_body.md
          git log $(git describe --tags --abbrev=0 $TAG_NAME^)...$TAG_NAME --pretty=format:'- %s [`%h`](https://github.com/${{ github.repository }}/commit/%H)' >> release_body.md
          echo "" >> release_body.md
          echo "[Full Changelog](https://github.com/${{ github.repository }}/compare/$(git describe --tags --abbrev=0 $TAG_NAME^)...$TAG_NAME)" >> release_body.md
          echo "RELEASE_BODY<<EOF" >> $GITHUB_ENV
          cat release_body.md >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          name: Type2Learn ${{ github.ref_name }}
          body: ${{ env.RELEASE_BODY }}
          files: Type2Learn_*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
